body {
  background-color: #f8f6f6;
  font-family: Inter, sans-serif;
  line-height: 1.25;
}
.signin {
  margin-top: 100px;
}
.botton-margin {
  margin-bottom: 40px;
}
.colDate1 {
  padding-left: 20px;
  padding-right: 20px;
}
.colDate2 {
  padding-left: 50px;
  padding-right: 50px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px auto;
  background: #e0e0e0;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
tr:nth-child(even) {
  background-color: #f5f4f4;
}
th {
  background: rgb(47, 49, 58);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
tr {
  border-bottom: 1px solid rgb(190 191 197);
}
td,
th {
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}
tr:hover {
  background-color: #b6b5b5;
}
td {
  width: 30%;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }

  table {
    width: 100%;
    font-size: 1rem;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 1rem;
  }

  tr {
    border: 1px solid #ccc;
  }

  th,
  td {
    text-align: left;
    height: 50px;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
