body {
  margin-left: 20px;
  margin-right: 20px;
}

table {
  width: 100%;
  font-size: 1rem;
}
tr:hover {
  background-color: #d3d3d3;
}

table,
thead,
tbody,
th,
td,
tr {
  display: block;
}

thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 1rem;
}

tr {
  border: 1px solid #ccc;
}

td {
  height: 50px;
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  content: attr(data-column);
  color: #000;
  font-weight: bold;
}
